<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Profile</h1>

    <h1>Hello <%= username %></h1>

    <ul>
      <li>
        <span>Username: </span>
        <span><%= username %> </span>
      </li>
      <li>
        <span>Gender: </span>
        <span><%= gender %> </span>
      </li>
      <li>
        <span>Email: </span>
        <span><%= email %> </span>
      </li>
    </ul>
  </body>
</html>
