<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Hello <%= user.username %></h3>

    <section>
      <p><span>username:</span><span><%= user.username %></span></p>
      <p><span>email:</span><span><%= user.email %></span></p>
      <p><span>gender:</span><span><%= user.gender %></span></p>
    </section>
  </body>
</html>
